extends ../shared/template/layout/_default

block vars
  -
    var title = 'text-move'

block main
  .test
    .js-scoll-text.scroll-text.scroll-text_one TEST ONE
      br
      | TEST
    .js-scoll-text.scroll-text.scroll-text_two TEST TWO
    .js-scoll-text.scroll-text.scroll-text_three TEST THREE
    .js-scoll-text.scroll-text.scroll-text_fore TEST FORE
