@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.body {
  color: $test;
}

.test {
  position: relative;
  height: 10000px;
}

.scroll-text {
  position: absolute;
  color: #000;

  &_one {
    top: 200px;
    left: 200px;
  }

  &_two {
    top: 1000px;
    left: 200px;
  }

  &_three {
    top: 1800px;
    left: 100px;
  }

  &_fore {
    top: 2700px;
    left: 100px;
  }
}

.js-text-inner {
  display: inline-block;
  overflow: hidden;
}

.js-text {
  display: block;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  transform: translate3d(calc(1em + 5px), 0, 0);
  transition: opacity 1s $easeOutSine, transform 0.4s $easeOutSine;

  &.display {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
